* {
    margin: 0;
}

header {
    width: 1850px;
    height: 70px;

    padding-left: 100px;

    border: 1px solid #E1E1E1CC;;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login_signup {
    display: flex;
    margin-right: 100px;
}

.list_all {
    width: 1850px;
    height: 650px;

    margin-top: 48px;

    padding-left: 100px;
    padding-right: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    width: 60%;

    margin-top: 45px;
    margin-bottom: 25px;

    border-collapse: collapse;
}

.list td,th {
    border: 1px solid #E1E1E1CC;
    padding: 5px;
    min-width: 100px;
}

.list_button {
    width: 108px;
    height: 41px;

    border: 0;
    border-radius: 3px;

    background-color: #4090ff;
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.list_button:hover {
    background-color: #60a2ff;
}

.list_button > a {
    padding: 10px 30px 10px 30px;

    font-weight: bold;
    font-size: 15px;

    text-decoration: none;
    color: #FFF;
}