<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song</title>
    <link href="/css/view.css?1" rel="stylesheet">
    <script>
        const deleteSong = function() {
            if (confirm("정말 삭제하시겠습니까?")) {
                const idx = document.querySelector("[name='idx']").value;
                location.href = "../delete.do/" + idx;
            }
        };
    </script>
</head>
<body>
    <header>
        <h1>:)BOARD</h1>
    </header>
    <div class="content_all">
        <h2>게시글 내용</h2>
        <input type="hidden" name="idx" th:value="${board.idx}">
        <div class="content">
            <div style="height: 50px;">
                <label>제목</label>
                <span th:text="${board.title}"></span>
            </div>
            <div style="height: 50px;">
                <label>내용</label>
                <span class="view_content" th:text="${board.content}"></span>
            </div>
            <div style="height: 50px;">
                <label>작성자</label>
                <span th:text="${board.author}"></span>
            </div>
            <div class="view_button">
                <a href="../list"><button><span>목록</span></button></a>
                <a th:href="@{/update/{id} (id = ${board.idx})}"><button><span>수정</span></button></a>
                <a href="javascript:deleteSong();"><button><span>삭제</span></button></a>
            </div>
        </div>
    </div>
</body>
</html>