<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>write</title>
    <link href="/css/wrtie.css?1" rel="stylesheet">
</head>
<body>
<header>
    <h1>:)BOARD</h1>
</header>
<div class="write_all">
    <h2>글쓰기</h2>
    <form class="write" action="write-save.do" method="post">
        <div>
            <label><p>제목</p></label>
            <input type="text" name="title">
        </div>
        <div>
            <label><p>내용</p></label>
            <input style="height: 280px;" type="text" name="content">
        </div>
        <div>
            <label><p>작성자</p></label>
            <input type="text" name="author">
        </div>
        <div style="align-items: flex-end;">
            <button style="width: 108px; height: 41px"><span>등록</span></button>
        </div>
    </form>
</div>

</body>
</html>